@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, p {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.column-1, .column-2 {
  float: left;
  width: 50%;
}

.placement-box, .creation-box {
  border: 2px silver solid;
  border-radius: 10%;
  height: 50px;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.creation-box input {
  border: none;
  outline-width: 0;
  padding: 15px;
}

.active {
  border-color: black;
}

.instructions {
  height: 50px;
}

button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10%;
  outline: none;
}

button:hover {
  border: black 1px solid;
  color: black;
  padding: 13px;
}

button:active {
  padding: 10px;
}

.padding {
  padding-top: 10px;
}

/* FOOTER */
footer {
  padding-top: 50px;
}

footer p {
  font-size: .5em;
  color: silver;
}

footer a {
  color: silver;
  text-decoration: none;
}

footer a:hover {
  color: black;
  font-size: .7em;
}
